<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
        
        <p>
          <label class="toggleSwitch" onclick="">
                <input type="checkbox">
                <span>
                    <span>Open</span>
                    <span>Close</span>
                    Transformer Switch
                </span>
                <a></a>
            </label>
        </p>
        <p>
          <label class="toggleSwitch" onclick="">
                <input type="checkbox">
                <span>
                    <span>Open</span>
                    <span>Close</span>
                    Isolator Status
                </span>
                <a></a>
            </label>
        </p>
        <p>
          <label class="toggleSwitch" onclick="">
                <input type="checkbox">
                <span>
                    <span>Normal</span>
                    <span>Fault</span>
                    Earth Fault Indicator
                </span>
                <a></a>
            </label>
        </p>
        <p>
          <label class="toggleSwitch" onclick="">
                <input type="checkbox">
                <span>
                    <span>Normal</span>
                    <span>Exceed</span>
                    Max Demand Indicator
                </span>
                <a></a>
            </label>
        </p>
        <p>
          <label class="toggleSwitch" onclick="">
                <input type="checkbox">
                <span>
                    <span>Normal</span>
                    <span>High</span>
                    RMU pressure Gas Indicator
                </span>
                <a></a>
            </label>
        </p>
        <p>
          <label class="toggleSwitch" onclick="">
                <input type="checkbox">
                <span>
                    <span>Normal</span>
                    <span>High</span>
                    Transformer Oil Temp
                </span>
                <a></a>
            </label>
        </p>
        
           
        </div>
    </div>
    </div></section>